#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
}

h1 {
  font-size: 3.2em;
  line-height: 1;
}

.font-face-mc {
  font-family: "merchant-copy";
  font-size: 25px;
  line-height: 100%;
}

.background {
  background-image: url(./paper1.jpg);
  background-size: cover;
  padding-top: 30px;
  padding-bottom: 30px;
}

.logout_button {
  overflow: hidden;
  border: 1px solid;
  border-radius: 8px;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}